<!doctype html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Океан ельзи</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <div class="nav">
        <a href="/admin" class="navItem">Головна</a>
        <a href="/admin/albums" class="navItem">Альбоми</a>
        <a href="/admin/songs" class="navItem">Пісні</a>
    </div>

    {% block content %}

    {% endblock %}
</div>
</body>
</html>