{#всі альбоми#}
{#список альбомів#}

{% extends 'client/layout.html' %}
{% block content %}
    {% if albums|length > 0 %}
        <div class="albumsClient">
            {% for album in albums %}
                <div class="albumClient">
                    <a href="/albums/{{ album.id }}">
                        <div class="wrapperImage">
                            <img src="/static/uploads/{{ album.src }}" alt="{{ album.name }}" class="image">
                        </div>
                    </a>
                    <h5>{{ album.name }}</h5>
                    <small class="text-muted">{{ album.date }}</small>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Ще немає альбомів на сайті</p>
    {% endif %}
    {#<h1>Усі альбоми на сайті</h1>#}
{% endblock %}