{#всі альбоми#}
{#список альбомів#}

{% extends 'admin/layout.html' %}

{% block content %}
    {% if album|length > 0 %}
        <table class="album">
            <tr>
                <th>#</th>
                <th>Картинка</th>
                <th>Назва</th>
                <th>Опис</th>
                <th>Дата</th>
                <th></th>
            </tr>
            {% for el in album %}
                <tr>
                    <td>{{ el.id }}</td>
                    <td>
                        <div class="wrapperImage">
                            <img src="/static/uploads/{{ el.src }}" alt="" class="image">
                        </div>
                    </td>
                    <td>
                        <div>{{ el.name }}</div>
                    </td>
                    <td>
                        <div>{{ el.description }}</div>
                    </td>
                    <td>
                        <small class="text-muted">{{ el.date }}</small>
                    </td>
                    <td>
                        <a href="/admin/albums/{{ el.id }}/update" class="updateAlbum">Редагувати</a>
                        <a href="/admin/albums/{{ el.id }}/del" class="deleteAlbum">Видалити</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <a href="create-album">Додати альбом</a>
    {% else %}
        <p>Ще немає статтей на сайті</p>
        <a href="create-album">Додати альбом</a>
    {% endif %}
{% endblock %}