{#Пісні#}
{% extends 'admin/layout.html' %}

{% block content %}
    <a href="create">
        <button type="button" class="btn btn-primary">Додати пісню</button>
    </a>
    {% if song|length > 0 %}
        <div class="wrp">
            <div class="player">
                <div class="play-pause" id="-1">▶</div>
                <div class="nameSong"></div>
                <div class="settings">
                    <div class="npButton" id="prev" data-id="-1">◀</div>
                    <div class="npButton" id="next" data-id="-1">▶</div>
                    <div class="mute">🔈</div>
                    <input type="range" class="volume" min="0" max="100" value="20">
                </div>
                <div class="bar">
                    <div class="setTime"></div>
                    <div class="range">
                        <div class="progressSong"></div>
                        <div class="load"></div>
                    </div>
                </div>
                <div class="time"></div>
            </div>
            {% for sn in song %}
                <div class="song" id="">
                    <div class="play-pauseSn">▶</div>
                    <div class="nameSongSn">{{ sn.Song.name }}
                        <audio>
                            <source src="/static/uploads/music/{{ sn.Song.url }}">
                        </audio>
                    </div>
                    <div class="nameAlbum">{{ sn.Album.name }}</div>
                    <div class="deleteSong">
                        <a href="/admin/songs/{{ sn.Song.id }}/delete">Видалити</a>
                    </div>
                    <div class="updateSong">
                        <a href="/admin/songs/{{ sn.Song.id }}/update">Редагувати</a>
                    </div>
                    <div class="durationSong"></div>
                    <!-- Album -->
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Ще немає пісень на сайті</p>
    {% endif %}
{% endblock %}