{% extends 'admin/layout.html' %}
{% block content %}
<div class="w-50 align-center">
    <h1>Редагування пісні {{ song.name }}</h1>
    <div>
        <form enctype="multipart/form-data" method="post">
            <div class="mb-3">
                <label for="nameSong" class="form-label">Назва пісні</label>
                <input type="text" id="nameSong" class="form-control" placeholder="Вітер Весни" name="nameSong">
            </div>
            <div>
                <input class="btn btn-outline-dark" id="submit" name="submit" type="submit" value="Змінити">
            </div>
        </form>
    </div>
</div>
{% endblock %}