{#всі альбоми#}
{#список альбомів#}

{% extends 'client/layout.html' %}
{% block content %}
    <div>
        <img class="backgroundImage" src="https://www.okeanelzy.com/local/templates/s1/images/band.jpg-2.jpg" alt="">
        <div class="description">
            <h1 class="text">ГРУПА</h1>
            <p class="text">Океан Ельзи багаторазово визнані публікою й критиками як краща рок-<br/>група і краща
                live-група
                СНД і Східної
                Європи.</p>
            <p class="text">Океан Ельзи - це експресивний, самовідданий концертний драйв,<br/> унікальне поєднання
                справжньої
                слов'янської
                мелодійності з<br/>
                потужною роковою енергетикою.</p>
            <p class="text">Платівки групи завжди резонансні й стають гучною подією. Сольні<br/> концерти Океан Ельзи,
                головною умовою яких є
                живий звук, незмінно<br/> викликають великий інтерес.</p>
        </div>
    </div>
    <div>
        <h1 class="membersTitle">СКЛАД ГРУПИ</h1>
        <div class="members">
            <div class="member">
                <div>
                    <img src="https://www.okeanelzy.com/upload/iblock/ac7/ac71f59ee8e3b4e2ba8c320c76deaa47.jpg"/>
                </div>
                <h6>Святослав<br/>Вакарчук</h6>
                <small class="text-muted">вокал,<br/>автор музики і слів</small>
            </div>
            <div class="member">
                <div>
                    <img src="https://www.okeanelzy.com/upload/iblock/709/7093328cc033aec860f1a9f12a6fbad0.jpg"/>
                </div>
                <h6>Денис<br/>Глінін</h6>
                <small class="text-muted">ударні</small>
            </div>
            <div class="member">
                <div>
                    <img src="https://www.okeanelzy.com/upload/iblock/be1/be1944982c335fba28176745a5c529c7.jpg"/>
                </div>
                <h6>Денис<br/>Дудко</h6>
                <small class="text-muted">бас-гітара</small>
            </div>
            <div class="member">
                <div>
                    <img src="https://www.okeanelzy.com/upload/iblock/b67/b67594bbcd5d21acc9aa9000a0f83032.jpg"/>
                </div>
                <h6>Мілош<br/>Єліч</h6>
                <small class="text-muted">клавішні,<br/>аранжування</small>
            </div>
            <div class="member">
                <div>
                    <img src="https://www.okeanelzy.com/upload/iblock/bcd/bcd096a63393f418c12a24a5668b3d32.jpg"/>
                </div>
                <h6>Владімір<br/>Опсеніца</h6>
                <small class="text-muted">гітара</small>
            </div>
        </div>
    </div>
{% endblock %}