* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.wrapper > .container {
    flex-grow: 1;
}

.container {
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.content {

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block {
    display: flex;
    gap: 10px;
}

footer {
    padding: 10px 0;
}


form .btn {
    width: 100%;
}

.loginForm h1, .registerForm h1, .resetPasswordForm h1, .resetTokenForm h1 {
    text-align: center;
}

.loginForm, .registerForm, .resetPasswordForm, .resetTokenForm, .accountUpdateForm {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    width: 350px;
}
.align-center{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%, 50%);
}
.min_width{
    padding: 0 10px;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
}
.min_width .min_width{max-width: 980px;}
a {
    color: #333333;
    text-decoration: underline;
    -webkit-transition: all 200ms ;
    -moz-transition: all 200ms ;
    -ms-transition: all 200ms ;
    -o-transition: all 200ms ;
    transition: all 200ms ;
    outline: none;
}
/*a:visited { color: #551a8b; }*/
a:hover { text-decoration: none }
a:focus { outline: none; }
a:hover, a:active { outline: none; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

.albums_list_holder{
    text-align: center;
}
.albums_list{
    display: inline-block;*
    display: inline;*zoom:1;
    vertical-align: top;
    padding: 5px 0 40px;
    margin: 0 0 0 -60px;
    list-style: none;
    font-size: 0;
    line-height: 0;
    text-align: center;
    max-width: 1000px;
}
.albums_list li{
    display: inline-block;
    *display: inline;
    *zoom:1;
    vertical-align: top;
    font-size: 14px;
    line-height: 17px;
    color: #8c8c8c;
    margin: 35px 0 0 60px;
    width: 140px;
}
.albums_list .album{
    display: block;
    text-decoration: none;
    color: #8c8c8c;
}
.albums_list .cover{
    position: relative;
    z-index: 1;
    margin: 0 0 14px;
    display: block;
    width: 140px;
    height: 140px;
}
.album .cover .gs,
.album .cover .colored{
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 400ms ;
    -moz-transition: all 400ms ;
    -ms-transition: all 400ms ;
    -o-transition: all 400ms ;
    transition: all 400ms ;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.album .cover .gs{
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
}
.album:hover .cover .gs{
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
.album:hover .cover .colored{
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
}
.albums_list .title{
    margin: 0 0 6px;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    color: black;
    display: block;
    letter-spacing: -0.3px;
}
title{
    overflow: hidden;
    padding: 0 0 0 60px;
    font-size: 36px;
    line-height: 40px;
    margin: 15px 0 0 0;
    float: left;
    font-weight: 400;
    text-transform: none;
}
